<div class="details">
    <% fields.each do |field_name, field_type| %>
      <p>
      <% case field_type
           when "belongs_to" %> <b translate><%= field_name.capitalize %> :</b> {{object.<%= field_name %>.name}}
      <% when "has_many" %><p>
        <b translate><%= field_name.capitalize %> :</b>
        <ul>
          <li ng-repeat="item in object.<%= field_name %>"> {{ item.name }}</li>
        </ul>
      </p>
      <% else %><b translate><%= field_name.capitalize %> :</b> {{object.<%= field_name %>}}
      <% end %></p>
    <% end %>
  <ul class="button-group float-right">
    <a ng-href="#/<%= resource_url %>/{{ object.id }}/edit" class="small">
      <span class="fa fa-edit"></span> <span translated>Edit</span>
    </a>
  </ul>
</div>
