<% if any_tabs? %><section class="tabs"><% tab_count = 1 %>
  <ul><% tabs.each do |name, fields| %>
      <li ng-click="activate_tab(<%= tab_count %>)" ng-class="{active: current_tab == <%= tab_count %>, tab<%= tab_count %>: current_tab == <%= tab_count %>}"><span translate><%= name %></span></li> |<% tab_count += 1 %>
    <% end %></ul>
</section><% end %>
<% unless any_tabs? %>
<form novalidate name="form">
 <div class="newform">
  <fieldset class="form">

  <legend ng-if="!editing"><span translate>New <%= resource.underscore.pluralize.humanize %></span></legend>
  <legend ng-if="editing"><span translate>Edit <%= resource.underscore.pluralize.humanize %></span></legend>

  <% first = true %>
  <% fields.each do |field_name, field_type| %>
    <% if first %><div class="row"><% end %>
      <div class="small-4 columns <% if not first %>float-left small-offset-2<% end %>">
        <label><% if required_fields.include? field_name %><i class="inline fa fa-asterisk"></i> <% end %><span translate><%= field_name.to_s.humanize.capitalize %></span> :</label>
        <% case field_type
           when "belongs_to" %>
          <select ui-select2="select2options" id="id_<%= field_name %>" ng-model="<%= field_name %>" name="<%= field_name %>" <% if required_fields.include? field_name %>required<% end %>>
            <option ng-repeat="item in all_<%= field_type.resource_name %>" value="{{ item.id }}" title="{{ item.name || item }}" ng-selected="item.id === <%= field_name %>.id">{{ item.name || item }}</option>
          </select>
          <% when "has_many" %>
          <select ui-select2="select2options" ng-model="<%= field_name %>" id="id_<%= field_name %>" name="<%= field_name %>" multiple <% if required_fields.include? field_name %>required<% end %>>
            <option ng-repeat="item in all_<%= field_type.resource_name %>" value="{{ item.id }}" title="{{ item.name || item }}" ng-selected="have('<%= field_name %>', item.id)">{{ item.name || item }}</option>
          </select>
          <% when "in" %>
          <select id="id_<%= field_name %>" ui-select2="select2options" ng-model="<%= field_name %>" name="<%= field_name %>" <% if required_fields.include? field_name %>required<% end %>>
            <option ng-repeat="item in <%= field_name %>_choices" value="{{ item.name }}" title="{{ item.title }}" ng-selected="<%= field_name %> === item.name">{{ item.title }}</option>
          </select>
          <% when "text" %>
          <textarea id="id_<%= field_name %>" class="rounded" ng-model="<%= field_name %>" name="<%= field_name %>" <% if required_fields.include? field_name %>required<% end %>></textarea>
          <% when "boolean" %>
          <input  id="id_<%= field_name %>" ng-model="<%= field_name %>" type="checkbox" name="<%= field_name %>" class="rounded <%= field_type %>_field" <% if required_fields.include? field_name %>required<% end %> />
          <% when "datetime" %>
          <datepicker  id="id_<%= field_name %>" ng-model="<%= field_name %>" class="datetime_field" name="<%= field_name %>" placeholder="{{ 'Click to pick a date' | translate }}" <% if required_fields.include? field_name %>required<% end %> />
          <% when "string", nil %>
          <input  id="id_<%= field_name %>" ng-model="<%= field_name %>" name="<%= field_name %>" type="text" class="rounded <%= field_type %>_field" <% if required_fields.include? field_name %>required<% end %> />
        <% else %>
          <input  id="id_<%= field_name %>" ng-model="<%= field_name %>" type="<%= field_type %>" name="<%= field_name %>" class="rounded <%= field_type %>_field" <% if required_fields.include? field_name %>required<% end %> />
  <% end %>
          <small id="id_<%= field_name %>_msg"></small>
    </div>
  <% if not first %></div><% end %>
  <% first = !first %>
  <% end %>
  </fieldset>
</form>



<% else %><% tab_count = 1 %><% tabs.each do |name, field_names| %>
<form novalidate name="form">
 <div class="newform">
  <fieldset class="form" ng-if="current_tab == <%= tab_count %>">
  <legend ng-if="!editing"><span translate>New <%= name %></span></legend>
  <legend ng-if="editing"><span translate>Edit <%= name %></span></legend><% first = true %>
  <% fields.each do |field_name, field_type| %><% if tabs[name].include? field_name or tabs[name].include? "__all__" %>
    <% if first %><div class="row"><% end %>
      <div class="small-4 columns <% if not first %>float-left small-offset-2<% end %>">
        <label><% if required_fields.include? field_name %><i class="inline fa fa-asterisk"></i> <% end %><span translate><%= field_name.to_s.humanize.capitalize %></span> :</label>
        <% case field_type
           when "belongs_to" %>
          <select ui-select2="select2options" id="id_<%= field_name %>" ng-model="<%= field_name %>" name="<%= field_name %>" <% if required_fields.include? field_name %>required<% end %>>
            <option ng-repeat="item in all_<%= field_type.resource_name %>" value="{{ item.id }}" title="{{ item.name || item }}" ng-selected="item.id === <%= field_name %>.id">{{ item.name || item }}</option>
          </select>
          <% when "has_many" %>
          <select ui-select2="select2options" ng-model="<%= field_name %>" id="id_<%= field_name %>" name="<%= field_name %>" multiple <% if required_fields.include? field_name %>required<% end %>>
            <option ng-repeat="item in all_<%= field_type.resource_name %>" value="{{ item.id }}" title="{{ item.name || item }}" ng-selected="have('<%= field_name %>', item.id)">{{ item.name || item }}</option>
          </select>
          <% when "in" %>
          <select ui-select2="select2options" id="id_<%= field_name %>" ng-model="<%= field_name %>" name="<%= field_name %>" <% if required_fields.include? field_name %>required<% end %>>
            <option ng-repeat="item in <%= field_name %>_choices" value="{{ item.name }}" title="{{ item.title }}" ng-selected="<%= field_name %> === item.name">{{ item.title }}</option>
          </select>
          <% when "text" %>
          <textarea id="id_<%= field_name %>" ng-model="<%= field_name %>" class="rounded" name="<%= field_name %>" <% if required_fields.include? field_name %>required<% end %>></textarea>
          <% when "boolean" %>
          <input  id="id_<%= field_name %>" ng-model="<%= field_name %>" type="checkbox" name="<%= field_name %>" class="rounded <%= field_type %>_field" <% if required_fields.include? field_name %>required<% end %> />
          <% when "datetime" %>
          <datepicker  id="id_<%= field_name %>" ng-model="<%= field_name %>" class="datetime_field" name="<%= field_name %>" placeholder="{{ 'Click to pick a date' | translate }}" <% if required_fields.include? field_name %>required<% end %> />
          <% when "string", nil %>
          <input  id="id_<%= field_name %>" ng-model="<%= field_name %>" name="<%= field_name %>" type="text" class="rounded <%= field_type %>_field" <% if required_fields.include? field_name %>required<% end %> />
        <% else %>
          <input  id="id_<%= field_name %>" ng-model="<%= field_name %>" type="<%= field_type %>" name="<%= field_name %>" class="rounded <%= field_type %>_field" <% if required_fields.include? field_name %>required<% end %> />
  <% end %>
          <small id="id_<%= field_name %>_msg"></small>
    </div>
  <% if not first %></div><% end %>
  <% first = !first %>
  <% end %>
  <% end %>
  </fieldset><% tab_count += 1 %>
<% end %>
</form>
<% end %>

  <div class="row">
      <div class="small-6 columns">
        <button class="btn small green" ng-click="save(false)" ng-disabled="form.$invalid || !form.$dirty"><i class="fa fa-check"></i> <span translate>Save</span></button>
        <button class="btn small blue" ng-click="save(true)" ng-disabled="form.$invalid || !form.$dirty"><i class="fa fa-check"></i> <span translate>Save & Add Another</span></button>
        <button class="btn small red" ng-click="cancel()"><i class="fa fa-times"></i> <span translate>Cancel</span></button>
      </div>
  </div>
</div>
