<div class="wrapper_signup">
  <div class="row">
    <div class="layout_signup">
      <div class="row">
	<div class="large-7 columns">
          <h1><%=_("Sign Up") %></h1>

	  <div class="justify row">
            <i class="fa fa-coffee fa-5x"></i>

            <p>
	      <%= _("For registration you can fill the form .") %>
            </p>
	  </div>
	  <br />

	  <div class="justify row">
	    <i class="fa-globe fa fa-5x"></i>
            <p>
	      <%= _("You can access the member information by registration on this site.") %>
            </p>
	  </div>

	  <br />

	  <div class="justify row">
            <i class="fa-money fa fa-5x"></i>
            <p>
	      <%= _("If you are a registered member you can go to signin page") %>
            </p>
	  </div>

	  <br />

	  <div class="justify row">
	    <i class="fa-group fa fa-5x"></i>
            <p>
	      <%= _("some text.") %>
            </p>
	  </div>
<br>
	</div>
	<div class="large-4 columns">

	  <div class="row">
	    <section class="">
	      <div class="form panel radius">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

		  <div class="field">
		    <label><%=_("Email") %></label>
		    <%= f.email_field :email, :autofocus => true, :type => "text", :class => "input email", :placeholder=>_("E-mail") %>

		    <% if resource.errors[:email] -%>
		      <dd class="danger abel"><%= resource.errors[:email][0] %></dd>
		    <% end -%>
		  </div>

		  <% if resource.password_required? %>
		    <div class="field">
		      <label><%=_("Password") %></label>
		      <%= f.password_field :password, :class => "password input" %>
		      <% if resource.errors[:password] -%>
			<dd class="danger abel"><%= resource.errors[:password][0] %></dd>
		      <% end -%>

		    </div>

		    <div class="field">
		      <label><%=_("Confim Password") %></label>
		      <%= f.password_field :password_confirmation, :class => "password input" %>

		    </div>

		  <% end %>
		  <br>
		  <div class="submit"><%= f.submit "Sign up" , :class => "button" %></div>
		<% end %>

	      </div>

	    </section>
	  </div>


	</div>

      </div>
    </div>
  </div>
</div>
