<div class="form-box" id="login-box">
  <div class="header"><%=_("Sign Up") %></div>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <div class="body bg-gray">
      <% unless resource.errors.empty? %>
        <br />
        <div class="alert alert-danger" role="alert">
          <i class="fa fa-warning"></i>
          <%= devise_error_messages! %>
        </div>
      <% end %>

      <div class="form-group <% if resource.errors[:email] -%>has-error<% end %>">
        <%= f.email_field :email, :autofocus => true, :type => "text", :class => "form-control", :placeholder=>_("E-mail") %>
      </div>

      <% if resource.send(:password_required?) %>
        <div class="form-group <% if resource.errors[:password] -%>has-error<% end %>">
	  <%= f.password_field :password, :class => "form-control", :placeholder=>_("Password")%>
	</div>
        <div class="form-group <% if resource.errors[:password_confirmation] -%>has-error<% end %>">
	  <%= f.password_field :password_confirmation, :class => "form-control", :placeholder=>_("Confirm Password") %>
	</div>
      <% end %>
    </div>
    <div class="footer">

      <div class="submit"><%= f.submit "Sign up" , :class => "btn bg-olive btn-block" %></div>
      <br /><br />
      <%= render "devise/shared/links" %>

    </div>
  <% end %>
  <%= render "devise/shared/omni_link" %>
</div>
