<!DOCTYPE html>
<html>
  <head>
    <title><%= Faalis::Engine.site_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag  Faalis::I18n.direction(I18n.locale) + "/application", media: "all" %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">
      <div class="large-12 columns">
          <!-- Navigation -->
          <nav class="top-bar" data-topbar>
            <ul class="title-area">
              <li class="name">
                <h1>
                  <a href="<%= faalis.root_path %>">
                    <%= Faalis::Engine.site_title %>
                  </a>
                </h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><%= _('Menu') %></a></li>
            </ul>

            <section class="top-bar-section">
              <!-- Right Nav Section -->
              <ul class="<%= Faalis::I18n.direction(I18n.locale) == "ltr" ? "right" : "left" %>">
                <% unless user_signed_in? %>
                <li class="has-form"><%= link_to(faalis.new_user_registration_path, :class => "alert button expand") { content_tag(:i, "", class: "fa fa-user") + " #{_('Register')}" } %></li>

                <li class="has-form"><%= link_to(faalis.user_session_path, :class => "button expand") { content_tag(:i, "", class: "fa fa-sign-in") + " #{_('Sign in')}" } %></li>
                <% else %>
                <li class="has-form"><%= link_to(faalis.dashboard_path, :class => "success button expand") { content_tag(:i, "", class: "fa fa-dashboard") + " #{_('Dashboard')}" }%></li>
                </li>
                <li class="has-form"><%= link_to(faalis.destroy_user_session_path, :class => "alert button expand", :method => :delete) { content_tag(:i, "", class: "fa fa-sign-out") + " #{_('Sign out')}" } %></li>
                <% end %>
              </ul>

              <!-- Left Nav Section -->
              <ul  class="<%= Faalis::I18n.direction(I18n.locale) == "ltr" ? "left" : "right" %>">

                <li class="has-dropdown"><a href="#"><i class="fa fa-flag"></i> <%= _("Languages") %></a>
                  <ul class="dropdown">
                    <% ::I18n.available_locales.each do |locale| %>
                      <li><a href="<%= "/#{locale.to_s}/" %>"><%= locale %></a></li>
                    <% end %>
                  </ul>
                </li>

              </ul>
            </section>
          </nav>

          <!-- End Navigation -->
      </div>
    </div>

    <%= yield %>

    <%= debug I18n.locale %>
    <!-- Footer -->

    <footer>
        <div class="row">
          <div class="large-6 columns">
            <p>&copy; Copyright no one at all. Go to town.</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
          </div>
        </div>
    </footer>
    <%= javascript_include_tag "faalis/application" %>
    <%= javascript_include_tag "locale/#{::I18n.locale}" %>

  </body>
</html>
