<%- if devise_mapping.omniauthable? %>
  <div class="social-auth-links text-center">
    <p>- OR -</p>

    <%- resource_class.omniauth_providers.each do |service| %>
      <% if [:facebook, :twitter, :google_oauth2].include? service %>
        <% if service == :facebook %>
          <a href='/auth/facebook/' class="btn btn-block btn-social btn-facebook btn-flat">
            <i class="fa fa-facebook"></i>
            <%= _('Sign in using Facebook') %>
          </a>
        <% end %>

        <% if service == :twitter %>
          <a href='/auth/twitter/' class="btn btn-block btn-social btn-twitter btn-flat">
            <i class="fa fa-twitter"></i>
            <%= _('Sign in using Twitter') %>
          </a>
        <% end %>

        <% if service == :google_oauth2 %><a href='/auth/google_oauth2/' class="btn btn-block btn-social btn-google btn-flat">
          <i class="fa fa-google-plus"></i>
          <%= _('Sign in using Google+') %>
        </a>
        <% end %>

      <% else %>
        <a href='<%= faalis.user_omniauth_authorize_path(service) %>' class="btn btn-circle"><i class="fa fa-<%= service %>"></i></a>
      <% end %>
    <% end %>
  </div><!-- /.social-auth-links -->

<% end %>
