<div class="wrapper_signin">
  <div class="row">
    <div class="layout_signin">
      <div class="row">

	<div class="large-7 columns">

          <h1>Resend unlock instructions</h1>
	</div>
	<div class="large-5 columns">
          <div class="form radius panel">
            <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field"><%= f.label :email %><br />
                <%= f.email_field :email, :autofocus => true %></div>

              <div class="submit"><%= f.submit "Resend unlock instructions" , :class => "button"%>
            <% end %>
            <br /><br /><br />
            <%= render "devise/shared/links" %>
            </div>
            <br />
	  </div>

	</div>
      </div>
    </div>
  </div>
</div>
