<%=stylesheet_link_tag("registrations") %>
<div class="wrapper_signin">
  <div class="row">
    <div class="layout_signin">
      <div class="row">

	<div class="large-7 columns">
	  	  <h1><%= _("Forgot your password?")%></h1>

	      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae porta quam, a congue est. Maecenas vel tortor in sem convallis commodo
	</div>
	<div class="large-5 columns">

	  <div class="form">
	  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	    <%= devise_error_messages! %>

	    <div class="field">
	      <label><%= f.label :email %></label>
	      <%= f.email_field :email, :autofocus => true %></div>

	    <div class="submit"><%= f.submit _("Send me reset password instructions"), :class=>"button" %>
	      <br>
	      <%= render "devise/shared/links" %>
	    </div>
	  <% end %>
	  </div>

	</div>
      </div>
    </div>
  </div>
</div>
