<% if any_tabs? %><section class="tabs"><% tab_count = 1 %>
  <ul><% tabs.each do |name, fields| %>
      <li ng-click="activate_tab(<%= tab_count %>)" ng-class="{active: current_tab == <%= tab_count %>, tab<%= tab_count %>: current_tab == <%= tab_count %>}"><span translate><%= name %></span></li> |<% tab_count += 1 %><% end %>
  </ul>
</section><% end %>

<% unless any_tabs? %>
<form novalidate name="form">
 <div class="newform">
   <% fieldsets.each do |fieldset_name, fields| %>

  <fieldset class="form">
    <legend ng-if="!editing"><span translate><%= fieldset_name  %></span></legend>
    <legend ng-if="editing"><span translate>Edit <%= fieldset_name %></span></legend>

    <% first = true %><% fields.each do |field_name, field_type| %>
    <% if first %><div class="row"><% end %>
      <div class="col-sm-4 form-group <% if not first %>pull-left col-sm-offset-2<% end %>">
        <label><% if required_fields.include? field_name %><i class="inline fa fa-asterisk"></i> <% end %><span translate><%= attrs(field_name, 'title') || field_name.to_s.humanize.capitalize %></span> :</label><% case field_type
         when "belongs_to", "has_many", "in" %>
        <relation-field select2-options="select2options" <% if required_fields.include? field_name %>required="true"<% end %> title-field="'name'" model="<%= field_name %>" field-data="<%= field_name %>_data">
        </relation-field>
        <% when nil %>
        <string-field model="<%= field_name %>" field-name="'<%= field_name %>'" css-class="'form-controll rounded <%= field_type %>_field'" <% if required_fields.include? field_name %>required<% end %>></string-field>
        <% else %>
        <<%= field_type%>-field model="<%= field_name %>" field-name="'<%= field_name %>'" css-class="'form-controll rounded <%= field_type %>_field'" <% if required_fields.include? field_name %>required="true"<% end %>></<%= field_type%>-field><% end %>
      </div>
    <% if not first %></div><% end %><% first = !first %><% end %>
  </fieldset>
   <% end %>
</form>

<% else %><form novalidate name="form"><% tab_count = 1 %><% tabs.each do |name, field_names| %>
  <div class="newform">
    <fieldset class="form" ng-show="current_tab == <%= tab_count %>">
      <legend ng-if="!editing"><span translate>New <%= name %></span></legend>
      <legend ng-if="editing"><span translate>Edit <%= name %></span></legend><% first = true %>
      <% fields.each do |field_name, field_type| %><% if tab_has_field?(name, field_name) or tabs[name].include? "__all__" %>

      <% if first %><div class="row"><% end %>
        <div class="col-sm-4 form-group <% if not first %>pull-left col-sm-offset-2<% end %>">
          <label><% if required_fields.include? field_name %><i class="inline fa fa-asterisk"></i> <% end %><span translate><%= attrs(field_name, 'title') || field_name.to_s.humanize.capitalize %></span> :</label><% case field_type
           when "belongs_to", "has_many", "in" %>
          <relation-field select2-options="select2options" <% if required_fields.include? field_name %>required="true"<% end %> title-field="'name'" model="<%= field_name %>" field-data="<%= field_name %>_data">
          </relation-field>
          <% when nil %>
          <string-field model="<%= field_name %>" field-name="'<%= field_name %>'" css-class="'form-controll rounded <%= field_type %>_field'" <% if required_fields.include? field_name %>required<% end %>></string-field>
          <% else %>
          <<%= field_type%>-field model="<%= field_name %>" field-name="'<%= field_name %>'" css-class="'form-controll rounded <%= field_type %>_field'" <% if required_fields.include? field_name %>required="true"<% end %>></<%= field_type%>-field><% end %>
        </div>
      <% if not first %></div><% end %><% first = !first %><% end %><% end %>
    </fieldset>
  </div><% tab_count += 1 %><% end %>
</form>
<% end %>

  <div class="row">
      <div class="col-sm-6 form-group">
        <button class="btn btn-success" ng-click="save(false)" ng-disabled="form.$invalid || !form.$dirty"><i class="fa fa-check"></i> <span translate>Save</span></button>
        <button class="btn btn-warning" ng-click="save(true)" ng-disabled="form.$invalid || !form.$dirty"><i class="fa fa-check"></i> <span translate>Save & Add Another</span></button>
        <button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-times"></i> <span translate>Cancel</span></button>
      </div>
  </div>
</div>
