<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>


<div class="row single-form">

  <div class="large-offset-3 small-6 columns">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <fieldset>
        <legend><%= _("Sign In") %></legend>
        <%= devise_error_messages! %>
        <div class="field">
	  <%= f.email_field :email, :autofocus => true, :class => "input email", :placeholder=>_("E-mail") %>
          <% if resource.errors[:email] -%>
	    <dd class="danger abel"><%= resource.errors[:email][0]%></dd>
          <% end -%>

        </div>

        <div class="field">
	  <%= f.password_field :password, :class => "input password", :placeholder=>_("Password") %>
          <% if resource.errors[:password] -%>
	    <dd class="danger abel"><%= resource.errors[:password][0] %></dd>
          <% end %>
        </div>
        <div class="field">
	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me, :class=>"checkbox" %> <%= f.label _("Remember me") %></div>
	  <% end %>
        </div>

        <div class="right submit">
	  <%= f.submit _("Sign in"), :class => "button"%><br><br>
        </div>


        <div class="text-left">
          <a href="/auth/google_oauth2/" class="pull_right">
            <i class="fa-google-plus-square fa fa-3x"></i>
          </a>

          <a href="/auth/facebook/" class="pull_right">
            <i class="fa-facebook-square fa fa-3x"></i>
          </a>

          <a href="/auth/twitter/" class="pull_right">
            <i class="fa-twitter-square fa fa-3x"></i>
          </a>
        </div>
        <br>
        <br>
        <div class="text-center">
        <%= render "devise/shared/links" %>
        </div>
      </fieldset>

    <% end %>

  </div>


</div>
