<p class="login-box-msg"><%= _('Sign in to start your session') %></p>
<% flash.each do |name, msg| %>
  <div class="alert alert-danger" role='alert'><i class="fa fa-warning"></i> <%= msg %></div>
<%- end -%>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div class="form-group has-feedback <% if resource.errors[:email] -%>has-error<% end %>">
    <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder=>_("Email") %>
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
  </div>

  <div class="form-group has-feedback <% if resource.errors[:password] -%>has-error<% end %>">
    <%= f.password_field :password, :class => "form-control", :placeholder=>_("Password") %>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>


  <div class="row">
    <% if devise_mapping.rememberable? -%>
    <div class="col-xs-8">
      <div class="checkbox icheck">
        <label>
          <%= f.check_box :remember_me, :class=>"checkbox" %> <%= _('Remember Me') %>
        </label>
      </div>
    </div><!-- /.col -->
    <% end %>
    <div class="col-xs-4">
      <button type="submit" class="btn btn-primary btn-block btn-flat"><%= _('Sign In') %></button>
    </div><!-- /.col -->
  </div>
</form>

<%= render "devise/shared/omni_link" %>

<%= render "devise/shared/links" %>
<% end %>
