<%=stylesheet_link_tag("device") %>

<div class="wrapper_signin">
  <div class="row">
    <div class="layout_signin">
      <div class="row">
	<div class="large-7 columns">

          <h1><%= _("Sign in") %></h1>


	  <div class="justify big_box ">

              <i class="icon-desktop icon-ultrabig"></i>
            <p>
 <%= _("For sign in enter your information !") %>
            </p>
	  </div>
	  <div class="inline">
	    <div class="justify large-5 left ">
              <i class="icon-eye-open icon-big"></i>
	      <p>
                <%= _("you can use members area with registratio") %>
              </p>
	    </div>

	    <div class="justify large-5 right">
              <i class="icon-bar-chart icon-big"></i>
              <p>
                <%= _("Its simple to register this site") %>
              </p>
	    </div>
	  </div>
	</div>
	<div class="large-4 columns">
	  <div class="row">
	    <section id="form_signin">
	      <div id="formbox_login" class="form">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

		  <%= devise_error_messages! %>
		  <div class="field">
		    <label><%=_("E-mail") %></label>
		    <%= f.email_field :email, :autofocus => true, :type => "text", :class => "  input email  ", :placeholder=>_("E-mail") %>
<% if resource.errors[:email] -%>
		      <dd class="danger abel"><%= resource.errors[:first_name][0]%></dd>
<% end -%>

		  </div>

		  <div class="field">
		    <label><%=_("Password") %></label>
		    <%= f.password_field :password, :class => "input password" %>
<% if resource.errors[:first_name] -%>
		      <dd class="danger abel"><%= resource.errors[:first_name][0] %></dd>		    <% end -%>

		  </div>
		  <div class="field">
		    <% if devise_mapping.rememberable? -%>
		      <div><%= f.check_box :remember_me,:class=>"checkbox" %> <%= f.label :remember_me %></div>
		    <% end -%>
		  </div>
		  <div class="submit">
		    <%= f.submit _("  Sign in  "), :class => "button"%><br><br>

		  <%= render "devise/shared/links" %>
		  </div>

		<% end %>
	      </div>
	    </section>
	  </div>

	  <br />
	  <div class="form row">

	    <h3><%= _("Login using") %>:</h3>
		<a href="/auth/google_oauth2/" class="pull_right">
		  <%=image_tag("auth/icon-google.png") %>
		</a>

	      <a href="/auth/facebook/" class="pull_right">
		  <%=image_tag("auth/icon-facebook.png") %>
	      </a>

	      <a href="/auth/twitter/" class="pull_right">
		  <%=image_tag("auth/icon-twitter.png") %>
	      </a>

	  </div>

	</div>

      </div>
    </div>

    <br><br>
  </div>
</div>
