<% url = RedBase::Engine.routes.url_helpers %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= RedBase::Engine.site_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag   "red_base/" + RedBase::I18n.direction(I18n.locale) + "/application", media: "all" %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">
      <div class="large-12 columns">
        <div class="">
          <!-- Navigation -->
          <nav class="top-bar">
            <ul class="title-area">
              <!-- Title Area -->
              <li class="name">
                <h1>
                  <a href="<%= red_base.root_path %>">
                    <%= RedBase::Engine.site_title %>
                  </a>
                </h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>

            <section class="top-bar-section">
              <ul class="float-right">
                <li class="has-dropdown"><a href="#"> <%= _("Languages") %></a>
                  <ul class="dropdown">
                    <% ::I18n.available_locales.each do |locale| %>
                      <li><a href="<%= "/#{locale.to_s}/" %>"><%= locale %></a></li>
                    <% end %>
                  </ul>
                </li>

                <li class="has-dropdown">
                  <% if not user_signed_in? %>
                    <a href="#"><%= _("Membership")%></a>
                    <%else%>
                    <a href="#">User<%= current_user.first_name %> <%= current_user.first_name %></a>
                    <%end%>

                    <ul class="dropdown">
                      <% if user_signed_in? %>
                        <li><a href="/dashboard"><%= _("Dashboard") %></a></li>

                        <li><%= link_to _("Change Password"), red_base.edit_user_password_path %></li>
                        <li><a href="<%= url.destroy_user_session_path %>" data-method="delete">Sign Out</a></li>
                        <%else%>
                        <li><%= link_to _("Register"), red_base.new_user_registration_path %></li>
                        <li><%= link_to _("Sign in"), red_base.user_session_path %></li>
                        <%end%>
                    </ul>
                </li>
              </ul>
            </section>
          </nav>

          <!-- End Navigation -->
        </div>
      </div>
    </div>

    <%= yield %>

    <!-- Footer -->

    <footer class="">
      <div class="large-12 columns">
        <hr>
        <div class="row">
          <div class="large-6 columns">
            <p>&copy; Copyright no one at all. Go to town.</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag "red_base/application" %>
  </body>
</html>
