<!DOCTYPE html>
<html>
<head>
  <title>RedBase</title>
  <%= stylesheet_link_tag    "red_base/application", media: "all" %>
  <%= javascript_include_tag :modernizer, "red_base/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
