<!DOCTYPE html>
<html>
<head>
  <title><%= RedBase::Engine.site_title %></title>
  <%= stylesheet_link_tag    "red_base/application", media: "all" %>
  <%= javascript_include_tag :modernizer, "red_base/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= yield :header %>
  </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <aside class="iconbar">
  </aside>

  <aside class="log-dock">
  </aside>

  <section class="dashboard-body">
    <%= yield %>
  </section>


</body>
</html>
