<% environment.context_class.instance_eval { include ActionView::Helpers::UrlHelper } %>
<% url = RedBase::Engine.routes.url_helpers %>

<div class="">
  <div class="">
    <nav class="clearpadding top-bar">
      <section class="top-bar-section">
      <ul class="title-area">
        <li><a href="#"><i class="fa-cog fa icon-medium fa-2x"></i></a></li>
        <!-- Title Area -->
        <li class="name brand">
          <h1><%= RedBase::Engine.site_title %></h1>

        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span translate>Menu</span></a></li>
      </ul>

</section>
      <section class="top-bar-section">
        <ul class="float-right">
          <li class="has-dropdown"><a href="#" translate>Languages</a>
         <ul class="dropdown">
         <% ::I18n.available_locales.each do |locale| %>
         <li><a href="<%= "/#{locale.to_s}/#{RedBase::Engine.dashboard_namespace.to_s}/" %>"><%= locale %></a></li>
        <% end %>
          </ul>
          </li>

          <li class="has-dropdown"><a href="#">User{{ current_user.first_name }} {{ current_user.last_name }}</a>

          <ul class="dropdown">
            <li><a href="<%= url.dashboard_path %>" translate>Dashboard</a></li>
            <li><a href="" translate>Change Password</a></li>
            <li><a href="<%= url.destroy_user_session_path %>" data-method="delete" translate>Sign Out</a></li>
          </ul>
          </li>
        </ul>
</section>

</nav>
</div>
</div>
